body {
  background-color: Black;
}

h1 {
  color: White;
  text-align: center;
  font-family: arial;
}

p {
  font-family: verdana;
  text-align: center;
  font-size: 15px;
  color: White;
}
p2 {
  font-family: verdana;
  text-align: center;
  font-size: 20px;
}
