body {
  background-color: #999999;
}

h1 {
  color: Red;
  text-align: center;
  font-family: arial;
}

p {
  font-family: verdana;
  text-align: center;
  font-size: 15px;
}
p2 {
  font-family: verdana;
  text-align: center;
  font-size: 20px;
}
